.zoneBadge {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;

    font-size: 1.4rem
}

.row {
    height: 50px;
}

.reader-row > * {
    background-color: #dee2e6;
}